<h1 class="span12">Attribute Detail: <%= @attribute.name %></h1>
<p id="notice"><%= notice %></div>

<div class="span6 clear">
  <b>Typus:</b>
  <%= @attribute.typus %>
	<br>
  <b>Description:</b>
  <%= @attribute.description %>
	<br>
  <b>Klass:</b>
  <%= @attribute.klass.name %>
</div>
