<table>
	<tr>
		<th> Association signature </th>
		<th> Operations </th>
	</tr>

<% app.kassociations.each { |assoc| %>
	<tr> 
		<td>
			<%= link_to assoc.name, app_kassociation_path( app, assoc ) %> 
		</td>
		<td>
			<%= link_to 'Show', app_kassociation_path( app, assoc ) %> ,
			<%= link_to 'Edit', edit_app_kassociation_path(app, assoc) %> ,
			<%= link_to 'Destroy', app_kassociation_path( app, assoc), 
				confirm: 'Are you sure?', method: :delete %>
		</td>
	</tr>
<% } %>

	<% if app.id != nil then %>
	<tr>
		<td> </td>
		<td> 
			<%= link_to 'create a new association in this app', new_app_kassociation_path( app) %> 
		</td>
	</tr>
	<% end %>

</table>

