<table class="span8 clean-borders">
	<tr>
		<th> Class name </th>
		<th> Operations </th>
	</tr>

	<% app.klasses.each { |k| %>
		<tr>
			<td class="span5"><%= link_to k.name, app_klass_path( app, k ) %> </td>
			<td class="span3">
				<%= link_to raw('<i class="icon-eye-open"></i> Show'), app_klass_path(app, k) %> &nbsp;
				<%= link_to raw('<i class="icon-edit"></i> Edit'), edit_app_klass_path(app, k) %> &nbsp;
				<%= link_to raw('<i class="icon-trash"></i> Destroy'), app_klass_path(app, k), confirm: 'Are you sure?', method: :delete %>
			</td>
		</tr>
	<% } %>

	<% if app.id != nil then %>
		<tr>
			<td> </td>
			<td class="span3"><%= link_to raw('<i class="icon-plus"></i> Create new class'), new_app_klass_path( app) %></td>
		</tr>
	<% end %>

</table>
