<h1 class="span12">App Details: <%= @app.name %></h1>
<div class="row">
	<div class="span8 clear">
		<strong> Description:</strong> <%= @app.description %><br>
		<strong>Uses:</strong> <%= @app.database %><br><br>
		<%= link_to 'Edit', edit_app_path(@app), :class => 'btn btn-primary' %> 
		<%= link_to 'Generator Code', summarize_app_path(@app), :class => 'btn btn-info' %>
	</div>
</div>

<div class="span12 hide" id="notice"><%= notice %></div>

<div class="row" id="app-details">
	<div class="span8 scaffold-block">
		<b>Scaffolding:</b> &nbsp;
		<code>
			<%= @app.to_scaffold %>
		</code>
	</div>

	<h2 class="span12 clear clearfix">Classes</h2>
	<%= render :partial => "app_klasses", :locals => { :app => @app } %>

	<h2 class="span12 clear">Associations</h2>
	<%= render :partial => "app_kassociations", :locals => { :app => @app } %>

</div>
