<h1> 
App: <%= link_to @app.name, app_path( @app) %> 
- summary of code generation 
</h1>


<h2> Generators </h2>

<div style="background-color:#0000bb; color:#fff; margin-bottom:10px; font-weight:bold; width:500px">
	<code>
  <%= @app.to_scaffold %>
	</code>
</div>

<div style="background-color:cyan; width:500px">
<% @app.klasses.each { |klass| %>
	<code> <%= klass.to_scaffold %> </code>
	<br />
<% } %>
</div>

<h2> Models </h2>

<% @app.klasses.each { |klass| %>
	<p style= "border-style:solid; width:600px; background-color:pink">
	<code>
	<% code = klass.to_code %>
	class <strong><%= klass.name %></strong> &lt; ActiveRecord::Base <br />
	<% code[1].each { |s| %>
		&nbsp; <%= s %> <br />
	<% } %>
	<%= code[2] %>
	</code>
</p>
<% } %>

<br />

<h2> Ruby script for generating the app:  <%= @app.name %> </h2>

<ul>
<li> You can copy this script from the browser and paste it into a file on your computer </li>
<li> make the file executable </li>
<li> 
	select a directory/folder where you want the rails app to live
	and make sure that the script file is in that location
</li>
<li> execute the ruby script file </li>
<li> and ... voila! your rails application is ready for further development
</ul>

<%= link_to( "download script", download_app_path( @app, :format => "rb")) %>

<br />

<%= link_to 'Back to app', app_path( @app) %>

