<h1>Code generation summary: <%= link_to @app.name, app_path( @app) %></h1>

<div class="row no-left">
	<div class="span4 pull-right">
		<h2 class="span4">Ruby generator script</h2>
		<div class="span4"><%= link_to( raw("<i class='icon-download'></i> Download Script"), download_app_path( @app, :format => "rb"), :class => 'btn btn-primary') %></div>

		<ul class="span4">
			<li>Download the script &mdash; default name:  download.rb </li>
			<li>Be sure to download the script to what will be the parent folder of the new rails app</li>
			<li>Make it executable &mdash; generally <code>chmod g+x download.rb</code></li>
			<li>Execute the script &mdash; generally <code>ruby ../download.rb</code></li>
		</ul>
	</div>

	<h2 class="span8">Generators </h2>
	<div class="span7 scaffold-block">
		<code>
			<%= @app.to_scaffold %>
		</code>
		<br>
		<% @app.klasses.each { |klass| %>
			<code> <%= klass.to_scaffold %> </code>
			<br />
		<% } %>
	</div>

	<h2 class="span7">Models </h2>

	<% @app.klasses.each { |klass| %>
		<% code = klass.to_code %>
		<div class="span7 codebox">
			<code>
class <strong><%= klass.name %></strong> &lt; ActiveRecord::Base <br />
<% code[1].each { |s| %>
	&nbsp;&nbsp; <%= s %> <br />
<% } %>
&nbsp;<%= code[2] %>
			</code>
		</div>
	<% } %>

</div>