<%= simple_form_for( [ @app, @kassociation ] ) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.association :source, :collection => @app.klasses %>
 		<%= f.input :typus, :collection => Kassociation.types %>
    <%= f.association :target, :collection => @app.klasses %>
 		<%= f.input :description %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

