<h1>KAssociation details</h1>
<p id="notice"><%= notice %></div>

<div class="span6 clear">
  <b>App:</b>
  <%= @kassociation.app.name %>
</div>

<div class="span6 clear">
  <b>Source:</b>
  <%= @kassociation.source.name %>
</div>

<div class="span6 clear">
  <b>Typus:</b>
  <%= @kassociation.typus %>
</div>

<div class="span6 clear">
  <b>Target:</b>
  <%= @kassociation.target.name %>
</div>

<div class="span6 clear">
  <b>Description:</b>
  <%= @kassociation.description %>
</div>
