<%= simple_form_for( [ @app, @klass ], :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :name %>
		<%= f.input :description %>
		<%= render :partial => "klass_attributes", :locals => { :app => @app, :klass => @klass }  %>
  </div>

  <div class="clear span4">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
