<h1>Class name: <%= @klass.name %></h1>
<div>
	Part of <%= link_to( @klass.app.name, app_path( @klass.app))  %><br/>
	<strong>Description:</strong> <%= @klass.description %>
</div>
<p id="notice"><%= notice %></p>

<%= render :partial => "klass_attributes", :locals => { :app => @app, :klass => @klass } %>

<h2 class="span7">Associations</h2>
<%= render :partial => "klass_kassociations", :locals => { :app => @app, :klass => @klass } %>

<h2 class="span7">Model scaffold and source code</h2>
<div class="span7 scaffold-block">
	<strong> Scaffolding: </strong>
	<code> <%= @klass.to_scaffold %> </code>
</div>

<div class="span7 codebox">
<code>
<% code = @klass.to_code %>
<%= code[0] %> <br />
<% code[1].each { |s| %>
	&nbsp; <%= s %> <br />
<% } %>
<%= code[2] %>
</code>
</div>
